<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="android-title mdl-layout-title">
      Presupuestalo
    </span>
    <div class="android-header-spacer mdl-layout-spacer"></div>
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
      <%- if account_signed_in? %> 
        <%= link_to "Cerrar sesion", destroy_account_session_path, class: "mdl-navigation__link mdl-typography--text-uppercase", method: :delete %>
      <%- else %>

        <%= link_to "Iniciar Session", new_account_session_path, class: "mdl-navigation__link mdl-typography--text-uppercase" %>
        <%= link_to "Registrarse", new_account_registration_path, class: "mdl-navigation__link mdl-typography--text-uppercase" %>
      <% end %>
      </nav>
    </div>

    <%- unless account_signed_in? %>
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item">5.0 Lollipop</li>
        <li class="mdl-menu__item">5.0 Lollipop</li>
      </ul>
    <% end %>
  </div>

</div>
